{% extends "layout.html.twig" %}

{% block title %}Erreur{% endblock %}

{% block content %}
<div class="row" id="errorPanel">
    <div class="col-xs-5">
        <img class="img-responsive pull-right" src="{{ asset('/images/404.png') }}" alt="Error ghost"/>
    </div>
    <div class="col-xs-6">
        <h1>Oups...<br><small>{{ message }}</small></h1>
    </div>
</div>
{% endblock %}