{% extends 'layout.html.twig' %}
{% set adminMenu = true %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}

<div class="well">
{{ form_start(formationForm, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="form-group">
        {{ form_label(formationForm.nom, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(formationForm.nom) }}
            {{ form_widget(formationForm.nom, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
	<div class="form-group">
        {{ form_label(formationForm.date, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(formationForm.date) }}
            {{ form_widget(formationForm.date, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
	<div class="form-group">
        {{ form_label(formationForm.horaire, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(formationForm.horaire) }}
            {{ form_widget(formationForm.horaire, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
	<div class="form-group">
        {{ form_label(formationForm.lieu, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(formationForm.lieu) }}
            {{ form_widget(formationForm.lieu, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
	<div class="form-group">
        {{ form_label(formationForm.intervenant, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(formationForm.intervenant) }}
            {{ form_widget(formationForm.intervenant, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
	<div class="form-group">
        {{ form_label(formationForm.public, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(formationForm.public) }}
            {{ form_widget(formationForm.public, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
	<div class="form-group">
        {{ form_label(formationForm.objectif, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(formationForm.objectif) }}
            {{ form_widget(formationForm.objectif, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(formationForm.description, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(formationForm.description) }}
            {{ form_widget(formationForm.description, { 'attr':  {
                'class': 'form-control',
                'rows': '8'
            }}) }}
        </div>
    </div>
	<div class="form-group">
        {{ form_label(formationForm.prerequis, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(formationForm.prerequis) }}
            {{ form_widget(formationForm.prerequis, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
	<div class="form-group">
        {{ form_label(formationForm.cout, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(formationForm.cout) }}
            {{ form_widget(formationForm.cout, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
	<div class="form-group">
        {{ form_label(formationForm.coutRepas, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(formationForm.coutRepas) }}
            {{ form_widget(formationForm.coutRepas, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
	<div class="form-group">
        {{ form_label(formationForm.dateLimiteInscription, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(formationForm.dateLimiteInscription) }}
            {{ form_widget(formationForm.dateLimiteInscription, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>

<div class="form-group">
        {{ form_label(formationForm.dateFin, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(formationForm.dateFin) }}
            {{ form_widget(formationForm.dateFin, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div><div class="form-group">
        {{ form_label(formationForm.duree, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        <div class="col-sm-6">
            {{ form_errors(formationForm.duree) }}
            {{ form_widget(formationForm.duree, { 'attr':  {
                'class': 'form-control'
            }}) }}
        </div>
    </div>
	<div class="form-group">
        <div class="col-sm-offset-4 col-sm-3">
            <input type="submit" class="btn btn-primary" value="Enregistrer" />
        </div>
    </div>
{{ form_end(formationForm) }}
</div>
{% endblock %}
