{% extends "layout.html.twig" %}
{% block title %}Accueil{% endblock %}
{% block content %}
    {% for formation in formations %}
        <article>
            <h2><a class="formationNom" href="{{path('formation', {'id':formation.id }) }}">
			{{ formation.nom }}</a></h2>
            <p>Pour : {{ formation.public }}</p>
            <p>Dans le but de : {{ formation.objectif }}</p>
            <p>le : {{ formation.date }}</p>
        </article>
        {% endfor %}
{% endblock %}
