{% extends "layout.html.twig" %}

{% block title %}{{ formation.nom }}{% endblock %}

{% block content %}
<p>
	<h2>{{ formation.nom }}</h2>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<p>Date : {{ formation.date }}</p>
				<p>Date de fin : {{ formation.dateFin }}</p>
				<p>Durée : {{ formation.duree }}</p>
				<p>Lieu : {{ formation.lieu }}</p>
				<p>Horaire : {{ formation.horaire }}</p>
				<p>Cout : {{ formation.cout }}</p>
				<p>Intervenant : {{ formation.intervenant }}</p>
				<p>Public : {{ formation.public }}</p>
				<p>Objectif : {{ formation.objectif }}</p>
				<p>Prérequis : {{ formation.prerequis }}</p>
				<p>Cout repas : {{ formation.coutRepas }}</p>
				<p>Date limite : {{ formation.dateLimiteInscription }}</p>
			</div>
			<div class="col-md-8">
				<p>Description :</p><p>{{ formation.description }}</p>
			</div>
		</div>
	</div>
    <h3>Commentaires</h3>
    {% for commentaire in commentaires %}
        <strong>{{ commentaire.auteur.username }}</strong> : {{ commentaire.content }}<br>
    {% else %}
        Pas de commentaire.
    {% endfor %}

    <h3>Ajouter un commentaire</h3>
    {% if commentForm %}
        {{ form_start(commentForm) }}
            <div class="form-group">
                {{ form_errors(commentForm.content) }}
                {{ form_widget(commentForm.content, { 'attr':  {
                    'rows': '4',
                    'class': 'form-control',
                    'placeholder': 'Entrez votre commentaire'
                }}) }}
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Publier" />
            </div>
        {{ form_end(commentForm) }}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% else %}
        <a href="{{ path('login') }} ">Connectez-vous</a> pour ajouter un commentaire.
    {% endif %}
</p>
{% endblock %}
