{% extends "layout.html.twig" %}
{% block title %}Accueil{% endblock %}
{% block content %}
    <h1 class="text-center"> M2L </h1>
    <p class="text-center"> Un site de consultation de formations en ligne, essayez !</p>
    <br>
    <center><a href="{{ path('formations') }}">Consulter les formations</a></center>
    <br>
{% endblock %}
