body { 
    padding-top: 50px; 
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

.formationNom:hover, .formationNom:focus
{
	text-decoration:none;
}

.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

#errorPanel {
	margin-top:20px;
    padding-top: 30px;
    padding-bottom: 10px;
}